- lesson.each do |lesson|
  = link_to "Lesson #{lesson}", question_bank_path(id: lesson,
                                                   add: add,
                                                   quiz_id: quiz_id),
                                class: 'small button'