h1 Edit question!

.question
  = render 'edit_question_form', quest_form: @quest_form, 
                                 quiz_id: @quiz_id, 
                                 add_pts: @add_pts,
                                 points: @points,
                                 lesson: @lesson