= sf.hidden_field :quiz_id, value: @quiz_form.id
= sf.hidden_field :question_id, value: sf.object.question_id
br
= sf.object.question_content
br
= sf.collection_check_boxes :content, sf.object.question_options, :id, :content
hr  