= sf.hidden_field :quiz_id, value: @quiz_form.id
= sf.hidden_field :question_id, value: sf.object.question_id
br
= sf.object.question_content
= sf.select :content, options_for_select(Option.get_options(sf.object.question_options))
hr