// Sass for app

@import "foundation/components/forms";

// Textarea autoresizing
.noscroll { overflow: hidden; }
.hiddendiv {
  display: none;
}

// Click hidden link, or attemp to

.hidden {
	display: none;
}