// Sass for app

@import "foundation/components/forms";

.hidden {
  display: none;
}

// Hide quizzes initially
#quiz {
  display: none;
}

.container {
  padding: 0 20px;
}

textarea {
  font-family: consolas;
  font-size: 1em;
}

.question-bank {
  margin-top: -50%;
}

.quiz-stats {
  margin-top: -16%;
}
